:root {
    --neutral-100: #FFFFFF;
    --neutral-99: #FDFCF5;
    --neutral-10: #1B1C18;

    --neutral-variant-90: #E1E2EC;
    
    --primary-90: #D9E2FF;
    --primary-40: #2459BD;
    --primary-10: #001946;

    --secondary-90: #DCE2F9;
    --secondary-40: #585E71;
    --secondary-10: #151B2C;

    --tertiary-90: #FDD7FA;
    --tertiary-40: #725572;
    --tertiary-10: #2A122C;

    --error-90: #FFDAD6;
    --error-40: #BA1A1A;
    --error-10: #410002;
}